* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 100%;
  height: 100vh;
  text-align: center;
}

.first-blog {
  width: 300px;
  height: 500px;
  border: 1px solid;
  display: inline-block;
  margin: 20px;
}

img {
  width: 100%;
}

h3 {
  text-align: center;
  margin: 10px;
}
p {
  margin: 20px 10px;
  text-align: left;
  object-fit: contain;
}

ul {
  display: block;
  text-align: center;
}
ul li {
  display: inline-block;
  background-color: lightgrey;
  margin: 10px;
  padding: 20px;
  border-radius: 10px;
  height: 5vh;
  width: 80px;
}
li a:hover {
  color: rgb(44, 68, 54);
  text-decoration: underline;
  font-weight: 600;
}

a {
  color: black;
  text-decoration: none;
}

h1 {
  text-align: center;
}

.first-blog a {
  color: red;
  font-weight: 500;
  text-align: right;
  display: block;
  margin-right: 20px;
}
.first-blog a:hover {
  font-weight: 600;
}
